@model HotelServices.WEB.Models.RegisterModel

@{
    ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="fields">
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model => model.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.ConfirmPassword)
            <div>
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Address)
            <div>
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.ClientName)
            <div>
                @Html.EditorFor(model => model.ClientName)
                @Html.ValidationMessageFor(model => model.ClientName)
            </div>
        </div>

        <div>
            <input type="submit" class="subm" value="Зарегистрироваться"/>
        </div>
    </div>
}